.about {
    margin-bottom: 75px;
}

.about-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about-title {
    font-size: 50px;
}

#mr-robot {
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 50%;
}

.about-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 50px;
    padding-left: 200px;
    padding-right: 200px;
}

.about-information {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.about-paragraph {
    font-family: 'Aldrich', sans-serif;
    font-size: 25px;
}

.programming-lang {
    color: rgb(198, 198, 30);
}

.age {
    color: coral;
}


.development-lang {
    height: 75px;
    width: auto;
}

.about-development {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.about-lines {
    width: 50%;
}

hr {
    border: 0;
    clear:both;
    display:block;
    width: 96%;               
    background-color:black;
    height: 1px;
  }

.development-stuff {
    color: crimson;
}

.about-images {
    display: flex;
    gap: 50px;
    align-items: center;
}

.development-lang:hover {
    transform: scale(1.2);
    -webkit-box-shadow:0 0 5rem crimson; 
    -moz-box-shadow: 0 0 5rem crimson; 
    box-shadow:0 0 5rem crimson;
}

@media (max-width: 480px) {
    .about-content  {
        padding-left: 20px;
        padding-right: 20px;
    }

    .about-information {
        flex-direction: column;
    }

    .about-images {
        flex-direction: column;
        gap: 10px;
    }    
}

@media (max-width: 1050px) and (min-width: 481px) {
    .about-content  {
        padding-left: 30px;
        padding-right: 30px;
    }

    .about-information {
        flex-direction: column;
    }

    .about-images {
        flex-direction: column;
        gap: 15px;
    } 
}